.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  /* padding: 0 20px; */
}